@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-DemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'TT Commons';
	src: url('./fonts/TTCommons-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

