.Timing {
	padding: 0 16px 16px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	box-sizing: border-box;
	background-image: url('https://check.vkforms.ru/bg.jpg?1');
	background-size: cover;

	&__title {
		font-size: 32px;
		color: #FFFFFF;
		letter-spacing: 0.4px;
		text-align: center;
		line-height: 34px;
		width: 100%;
		font-weight: 700;
		padding-top: 90px;
	}

	&__bottom-single {
		padding: 0 16px 50px 16px;
		box-sizing: border-box;
		width: 100%;
	}

	&__bottom-double {
		padding: 0 16px 24px 16px;
		box-sizing: border-box;
		width: 100%;
	}

	&__first-button {
		margin-bottom: 8px;
	}

	&__center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
		min-height: 100px;
	}

	&__button-next {
		font-weight: 500 !important;
		font-size: 17px !important;
		color: #452C28 !important;
		text-align: center !important;
		background: #FFFFFF !important;
	}

	.WaitDots {
		padding-top: 2px;
		vertical-align: text-bottom;
	}
}
