.FriendItem {
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 9px;
	}

	&__photo {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		margin-right: 10px;
		background-image: url('./g.png');
		background-size: cover;
	}

	&__name {
		font-size: 15px;
		line-height: 18px;
		font-weight: 500;
		margin-bottom: 2px;
		color: #3C6A9E;
	}

	&__description {
		color: #909499;
		font-size: 13px;
		line-height: 15px;
	}

	&__tag {
		display: inline-block;
		background-color: rgba(0, 57, 115, 0.1);
		color: #45678F;
		padding: 9px 14px 7px;
		font-size: 15px;
		line-height: 18px;
		font-weight: 500;
		margin-right: 8px;
		vertical-align: middle;
		border-radius: 10px;
	}
}
