.MainScreen {

	&__day-list {
		padding-bottom: 45px;
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		color: #FFF;
		font-size: 15px;
		line-height: 18px;
		font-weight: 900;
		margin-bottom: 10px;
	}

	&__day {
		text-align: center;
		text-transform: uppercase;
		color: #FFF;
		font-size: 52px;
		line-height: 52px;
		font-weight: 600;
	}

	&__advice-list {
		text-align: center;
		padding-top: 41px;
	}

	&__advice {
		font-size: 15px;
		line-height: 18px;
		color: #FFF;
		background-color: rgba(0,0,0,0.2);
		border-radius: 14px;
		padding: 6px 12px 4px;
		margin-bottom: 8px;
		display: inline-block;
		font-weight: 500;
		&:last-child {
			margin-bottom: 0;
		}
	}

}
