.UserProfile {
	padding-bottom: calc(env(safe-area-inset-bottom) + 49px);
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;


	&__header {
		text-align: center;
		background-color: #FBFBFC;
		height: 44px;
		line-height: 44px;
		padding-top: env(safe-area-inset-top);
		box-sizing: content-box;
		font-size: 17px;
		font-weight: 500;
		border-bottom: 1px solid #D9D9D9;
		&.android {
			height: 56px;
			line-height: 56px;
		}
	}

	&__panel {
		background-color: #FFF;

		&--no-access {
			margin-top: 10px;
			padding: 27px 16px 32px 16px;
			border-bottom: 1px solid rgba(0,0,0,0.12);
			border-top: 1px solid rgba(0,0,0,0.12);
		}

		&--friends {
			margin-top: 10px;
		}
	}

	&__add {
		font-size: 14px;
		color: #5181B8;
		font-weight: 500;
	}

	&__selected-friends {
		padding: 0 16px;
	}

	&__friends-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__friends-header-title {
		font-size: 17px;
		color: #000000;
		font-weight: 600;
	}

	&__center {
		text-align: center;
	}

	&__description {
		font-weight: 500;
		font-size: 17px;
		color: #71757A;
		text-align: center;
		line-height: 22px;
		padding-bottom: 17px;
	}

	&__basic {
		padding: 18px 16px;
		font-size: 17px;
		line-height: 20px;
		font-weight: 500;
	}

	&__select {
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		appearance: none;
		margin: 0;
		padding: 0;
		opacity: 0;
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	&__line {
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(0,0,0,0.12);
		padding: 16px 16px 12px 16px;
		box-sizing: border-box;
		justify-content: space-between;

		& > .left {
			font-size: 15px;
			line-height: 18px;
		}

		& > .right {
			text-align: right;
			font-size: 15px;
			line-height: 18px;
			color: #909499;
		}
	}

	&__friends-list {
		overflow: auto;
		max-height: calc(100vh - env(safe-area-inset-top) - 44px);
		min-height: 117px;
		@media only screen and (max-width: 768px) {
			-webkit-overflow-scrolling: touch;
		}

		.Checkbox__icon {
			margin: 0 16px 0 0;
		}

		.Checkbox__container {
			align-items: center;
		}
	}

	&__friends-list-item {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__friend {
		display: flex;
		align-items: center;

		&--added {
			padding-bottom: 12px;

			&:last-child {
				padding-bottom: 18px;
			}
		}
	}

	&__shadow {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: rgba(0,0,0,0.8);
		z-index: 2;
	}

	&__no-friends {
		font-weight: 500;
		font-size: 17px;
		color: #71757A;
		text-align: center;
		line-height: 22px;
		padding: 46px 16px 16px;
	}
}
