.DayAdvice {
	padding: 0 16px;

	&__title {
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		margin-bottom: 6px;
	}

	&__text {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 19px;
	}

	&__item {
		padding-top: 18px;
		border-bottom: 1px solid rgba(0,0,0,0.12);
		&:last-child {
			border-bottom: none;
		}
	}
}
