.SlideOption {

	&__wrapper {
		position: relative;
	}

	&__selected-value {
		font-size: 60px;
		color: #FFFFFF;
		text-align: center;
		font-weight: 600;
		position: relative;
		line-height: 100px;
	}

	&__invisible {
		opacity: 0;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 100px;
	}

	&__days {
		font-size: 30px;
		color: #FFFFFF;
		font-weight: 600;
		text-align: center;
		margin-top: -15px;
	}

	select {
		height: 100px;
		width: 100%;
	}
}
